/FerramAerospaceResearch/bin/Debug/*
/FerramAerospaceResearch/bin/Release/*
/FerramAerospaceResearch/obj/Debug/*
/FerramAerospaceResearch/obj/Release/*

/ferramGraph/bin/Debug/*
/ferramGraph/bin/Release/*
/ferramGraph/obj/Debug/*
/ferramGraph/obj/Release/*

/GameData/FerramAerospaceResearch/Custom*.cfg
/GameData/FerramAerospaceResearch/FARForceDataUpdate.cfg
*.suo