<?xml version="1.0" encoding="utf-8"?>
<config>
    <rect name="windowPos">
        <xmin>410</xmin>
        <xmax>1136</xmax>
        <ymin>75</ymin>
        <ymax>575</ymax>
    </rect>
    <bool name="EditorGUIBool">1</bool>
    <rect name="FlightWindowPos">
        <xmin>1086</xmin>
        <xmax>1298</xmax>
        <ymin>132</ymin>
        <ymax>402</ymax>
    </rect>
    <rect name="AutopilotWinPos">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <rect name="HelpWindowPos">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <rect name="FlightDataPos">
        <xmin>247</xmin>
        <xmax>505</xmax>
        <ymin>112</ymin>
        <ymax>654</ymax>
    </rect>
    <rect name="FlightDataHelpPos">
        <xmin>0</xmin>
        <xmax>0</xmax>
        <ymin>0</ymin>
        <ymax>0</ymax>
    </rect>
    <rect name="AirSpeedPos">
        <xmin>90</xmin>
        <xmax>290</xmax>
        <ymin>69</ymin>
        <ymax>307</ymax>
    </rect>
    <rect name="AirSpeedHelpPos">
        <xmin>399</xmin>
        <xmax>913</xmax>
        <ymin>53</ymin>
        <ymax>531</ymax>
    </rect>
    <string name="k_wingleveler">0.1</string>
    <string name="kd_wingleveler">0.002</string>
    <string name="k_yawdamper">0.1</string>
    <string name="k_pitchdamper">0.1</string>
    <string name="scaleVelocity">100</string>
    <string name="alt">0</string>
    <string name="upperLim">25</string>
    <string name="lowerLim">-25</string>
    <string name="k_limiter">0.25</string>
    <bool name="FlightGUIBool">0</bool>
    <int name="SpacePortID">1113</int>
    <string name="Name">Ferram Aerospace Research</string>
    <string name="displayForces">False</string>
    <string name="displayCoefficients">False</string>
    <string name="displayShielding">False</string>
    <string name="useSplinesForSupersonicMath">True</string>
    <string name="allowStructuralFailures">True</string>
    <int name="unitMode">0</int>
    <int name="velMode">0</int>
</config>